.grid-header {
  display: grid;
  grid-template-columns: 16.7% auto 16.7%;
}
.grid-new-film {
  display: grid;
  grid-template-columns: 30% auto 30%;
}

.bg {
  background-color: #d3d1d1;
}
#banner-film {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
}

#info-film {
  /* position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%); */
  text-align: center;
}
.poster-film {
  width: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  object-fit: fill;
  max-height: 600px;
  overflow: hidden;
}

.pagination {
  padding: 10px 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.p1 a {
  width: 30px;
  height: 6px;
  padding: 0;
  margin: auto 2px;
  background-color: #adb5bd;
}
.p1 a:hover,
a:active {
  transform: translateY(-3px);
  transition: all 0.5s ease;
}

.p1 .is-active {
  background-color: #e9ecef;
}

.grid-popular-film {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.img-popular-film {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  background-color: #343a40 !important;
  color: #f1f3f5 !important;
}

.dark-mode-container {
  background-color: #212529 !important;
  color: #f1f3f5 !important;
}

svg.chevronR:hover,
svg.chevronR:active {
  color: white !important;
  transform: translateX(4px);
  transition: all 0.3s ease;
}

svg.chevronL:hover,
svg.chevronL:active {
  color: white !important;
  transform: translateX(-4px);
  transition: all 0.3s ease;
}

.movie {
  position: relative;
}
.movie-over {
  background-color: #22b8cf;
  color: white;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: none;
}

.movie:hover .movie-over {
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: block;
}
.movie:hover {
  transform: translateY(-10%);
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
